name: Build
on:
  pull_request:
    paths-ignore:
    - '**/README.md'
    - '**/.gitignore'
env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  
jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@v2
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('src/**/*.csproj') }}
      - name: Nuke
        run: |
          ./build.sh NugetPublish \
              --configuration Release \
              --github-token "${{ secrets.GITHUB_TOKEN }}" \
              --notion-key "${{ secrets.NOTION }}"
      - uses: actions/upload-artifact@v1
        name: Upload test results
        with:
          name: tests
          path: output/artifacts/tests
      - uses: actions/upload-artifact@v1
        name: Upload warnings count
        with:
          name: warnings
          path: output/artifacts/warnings
      
